html,
Head{
  padding: 0rem auto;
  margin: 0rem auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-size: cover;
}
body {
  padding: auto;
  margin: auto;
  font-family: 'Courier New', Courier, monospace;
  color: black; 
  text-align: center;
  
}

a {
  color: inherit;
  text-decoration: none;
}
 .intro-button{
   color: teal;

  }
 .candidateForm-button{
   color: teal;
   background-image: inherit;
 }

.intro-container.ui.text.container{
   color: teal;
   /* background-image: inherit; */
   
   padding-top: 2rem;
   padding-bottom: 2rem;
   padding-left: 2rem;
   padding-right: 2rem;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: large;
   font-optical-sizing: 5rem;
   /* color: teal; */
   background-size: auto;
   font-style: oblique;
    }
.intro-h3{
  color:teal;
}
.LoginForm{
  align-self: center;
  
}
.register-form.ui.button{
  color: teal;
}
.candidate-form{

background-color:inherit;
float: left;
padding-left: 20ch;
padding-right: 20ch;
padding-top: 20ch;
padding-bottom: 2ch;
}
.button-font{
  font-size: 20px;
}
.election-icon{
  padding-right: 5rem;
}
.intro{
  background-image: url(../public/vote.jpg);
  background-size: cover;
}

.admin{
  background-image: url(../public/admin.jpg);
  background-size: cover ;
  height: 100%;
  background-position: center;
}

.voting{
  background-image: url(../public/voting.jpg);
  padding-top: 3rem;
  background-size: cover ;
  height: 100%;
  background-position: center;
}

.register{
  background-image: url(../public/register.jpg);
  background-position: center;
 
  background-size: 100%;
  padding-top: 2rem;
}

.login-form{
  
  text-align: justify;
  font-weight: 900;
  color: white;
  box-sizing: border-box;
  /* background-image: inherit; */
  /* backdrop-filter: blur(10px);  */

}

.Login{
  background-image: url(../public/login.jpg);
  background-size: cover;
  
 
}

.box{
  margin-left: 18rem;
  margin-right: 18rem;
  margin-bottom: 18rem;
  margin-top: 2rem;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-bottom: 8rem;
  padding-top: 4rem;
 
  backdrop-filter: blur(10px);
    /* margin-inline-start: 10rem;
    margin-inline-end: 10rem; */

}

.result{
  background-image: url(../public/result.jpg);
  background-size: cover;
}